@charset "UTF-8";

.button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;        
}   
.header2 {
    padding-left: 25px;
    background-color: rgb(244, 244, 245);
    height: 30px;				
    font-size: 0.85em;	
    color: rgb(134, 134, 138);
}
.inner2{
    
    padding: 2rem 6rem;
    
}

.btn-light:hover {
    color: #ff3357;
    background-color: white;
    border-color: #ff3357;
}

.btn-light {
    color: #ff3357;
    background-color: white;
    border-color: #ff3357;
}

.btn-light:focus {
    color: white;
    background-color: #ff3357;
    border-color: #ff3357;
}

.jss486 {
    height: 40px;
    padding: 10 5 2 4px;
    margin: 0px 0px 10px 0px;
    border-top: 1px solid rgba(235, 235, 235, 1);
    border-bottom: 1px solid #cfcfd0;
}

.center{
    display: flex;
    justify-content: center;
}

.crown_text {
    left: 10.5px;
    top: 1px;
}

.box{
    padding: 10px;
    background-color: white;
    flex: 2;
    font-size: 0.8em;
    font-family: Noto Sans KR, sans-serif;
    font-weight: 400;
}
.event{
    background-color: rgb(255, 81, 82);
    color: white;
    font-size: 0.9em;
    display: inline;
    padding-inline: 8px;
    border-radius: 5px;
}

.history-subtitle{
	font-weight: 900; 
	line-height: 50px; 
	font-size: 1.3em; 
	color: black
}

.history_underborder{
	color: rgb(195, 195, 195); 
	border-top: 4px solid; 
	padding : 2px; 
}

.pay_form_size{
	padding : 5px; 
	width : 20%;
	font-size : 1.2em;
}


